
body {
    background-color: rgba(214, 150, 129, 0.719);
}

.container{
    margin: auto;
    background-color: rgba(192, 143, 143, 0.178);
    border-radius: 18px;
    box-shadow: 3px 2px 3px rgba(223, 223, 202, 0.651);
    width: 400px;
    border: 1px solid rgba(201, 178, 178, 0.671);
    padding: 15px;
    text-align: center;
    /* display: ; */
}

.container img {
    max-width: 100%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.container p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 17px;
    height: 7px;
}
.container h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 18px;
}

.container a{
    background-color: rgba(192, 143, 143, 0.699);
    border-radius: 100px;
    border: 1px solid rgba(245, 237, 227, 0.76);
    color: rgba(245, 237, 227, 0.76);
    padding: 10px 27px; 
    text-decoration:none;
    margin-left: 50px;
}

.another{
    margin: auto;
    background-color: rgba(192, 143, 143, 0.178);
    border-radius: 18px;
    border: 1px solid rgba(201, 178, 178, 0.671);
    box-shadow: 3px 2px 3px rgba(223, 223, 202, 0.651);
    width: 400px;
    max-width: 400px;
    padding: 15px;
}
.another h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.another img {
    max-width: 100%;
    border-radius: 15px;

}